html> body{
    background-color: rgba(246, 214, 163, 0.287);
}
.active > a {
    text-align: center;
}


.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    
}

.left-container {
    display: flex;
    height: 400px;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-right: 50px;
    justify-content: center;
    margin: 20px;
    margin-top: 150px;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.left-container p {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.main-container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.user-post-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 100px;
    padding: 10px;
    border: solid 1px grey;
    /* background-color: #f8f8f8; */
}

.user-post-container input{
    text-align: center;
    font-size: large;
    
}

.other-type-of-posts-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

/* -------- */

.middle-container {
    background-color: #f8f8f8;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color:grey;
    border-width: 2px;
    border-style: solid

}

.other-users-post-container {
    padding: 10px;
    margin: 20px;
;

}

.profile-pic-and-name-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f8f8f8;
}



.profile-pic-and-name-container img{
    max-height: 100px;
    max-width: 100px;
    border: solid 1px black;
    border-radius: 50%;
}

.profile-pic-and-name-container div {
    padding: 10px;
}

.other-users-post-text .full-name {
    font-weight: 900;
    font-size: 20px;
    height: 20px;
    width: 400px;
}

.other-users-post-text .event-description {
    height: 200px;
    width: 400px;
}

/* ---user-profile-page---- */
#user-profile-main-container {
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 110rem;
}

.user-mini-profile{
    left: 15rem;
    border: solid 1px black;
    height: 40rem;
    width: 30rem;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.671);
    position: fixed;
}

.activities{
    width: 70rem;
}

.oneEvent-users-profile{
    /* border: solid 1px black; */
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 10px;
}

.oneEvent-users-profile > img{
    width: 100%;
    height: 20rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.oneEvent-users-profile > ul > a{
    font-size: 3rem;
}
.oneEvent-users-profile > ul > h5{
    color: tomato;
}
.oneEvent-users-profile > ul > li{
    list-style: none;
    font-size: 2rem;
    text-decoration: none;
}
.oneEvent-users-profile > div > li{
    list-style: none;
    text-decoration: none;
}
.oneEvent-users-profile > div {
    border: solid black 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 4rem;
    padding-bottom: 2rem;
    background-color: rgba(255, 248, 220, 0.692);
}


/* -------------------ChatBox--------------------- */
.messages{
    display: inline-flex;
    height: 30rem;
    width: 100%;
    bottom: 0;
    z-index: 3;
    position: fixed;
    float: left;
    padding-left: 20rem;
}
.chatBox{
    border: black solid 1px;
    height: 30rem;
    width: 30rem;
    background-color: rgb(233, 224, 224);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 2rem;
}
.chatBoxClose{
    margin-bottom: -1px;
    height: 0;
    bottom: -8px;
    left: -8px;
    position: fixed;

}
.chatBoxClose > form{
    margin-bottom: -1px;
    height: 0;
    bottom: -8px;
    left: -8px;
    position: fixed;

}
.showAllUsers{
    border: black solid 1px;
    height: 28rem;
    width: 28rem;
    background-color: rgb(233, 224, 224);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 2rem;
    z-index: 3;
    position: fixed;
}

.showAllUsers > ul{
    z-index: 3;
    /* border: black solid 1px; */
    padding: 1rem;
    width: 100%;
    margin: 0;
    cursor: pointer;
    position: relative;
    border-bottom: black solid 1px;
}

.showAllUsers > ul:hover{
    background-color: rgb(173, 171, 171);
}

.messages > button{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 4;
    width: 28rem;
    position: fixed;
}

.chatBox > form {
    position: absolute;
    bottom: 0px;
    width: 30rem;
}

#message-input{
   width: 80%;
   margin-left: 5px;
   z-index: 4;

}
/* ------------------NavBar-------------------- */
#navBar {
    top: 0;
    z-index: 1;
    position: fixed;
    align-items: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image: url(./volunteer-bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
#navBar > h1 {
    margin: 0.5rem;
}

#login-form {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}
#login-form >form >input {
  margin-right: 1rem;

}
#login-form >h4 {
    margin: 0;
    padding-right: 2rem;
}
#register-container{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

#register-container > div >p{
    width: 30rem;
    font-size: 15px;
}


#navBar > div{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 1rem;
}
#navBar > div >h3{
    margin-top: 0;
}
#navBar > div >i{
    text-align: center;
    margin: 0 1rem 1rem 1rem;
    cursor: pointer;
}
#navBar > div >a{
    text-align: center;
    margin: 0 1rem 1rem 1rem;
    font-size: 25px;
    color: black;
}
#navBar > div >a>img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-left: 3rem;
}

#myUL {
    z-index: 3;
    top: 43px;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    width: 33rem;
    position: fixed;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  #myUL >div {
    justify-content: space-around;
    display: flex;
    margin-top: -1px;
    border: solid black 1px;
    padding: 12px;
    background-color: rgb(197, 196, 196);
    color: black;
  }
  #myUL >div:hover {
    background-color: rgb(121, 120, 120);
  }
  #myUL >div > img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  #myUL >div > a {
    font-size: 25px;
    color: black;
  }
  /* -------------------SigleEvent------------------------ */
  .singleeventContainer{
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    margin-top: 80px;
  }
  .singleeventContainer >img {
    border-radius: 10px;
    width: 65rem;
    height: 15rem;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(0, 107, 139);
  }
  .titleContainer{
    display: flex;
    justify-content: space-around;
  }
  .titleContainer > button {
    width: 10rem;
    height: 4rem;
    margin-top: 4rem;
    background: rgb(56, 96, 148);
    color: white;
  }
  .titleContainer > ul > h4 {
    color:blueviolet;
  }

  .description,  .eventLocation {
      border: black 1px solid;
      width: 63rem;
      height: 45rem;
      border-radius: 10px;
      padding: 1rem;
      background-color: #f8f8f8;
      margin-left: auto;
      margin-right: auto;
  }

  .dataContainer{
    display: flex;
    justify-content: space-around;
  }
  .mapContainer{
    margin-top: 3rem;
    border: black 1px solid;
    width: 25rem;
    height: 25rem;
  }
  /* ----------------------All Events---------------- */

  .allEventsContainer{
    padding-top: 9rem;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .oneEvent{
    margin: 1.5rem;
    height: 28rem;
    width: 30rem;
    border: black 1px solid;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(204, 123, 121), 0 0 5px rgb(139, 32, 0);
  }
  .oneEvent > img{
    width: 100%;
    height: 8rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .oneEvent > ul >li{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
  }
  .oneEvent > ul >a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .oneEvent > ul >h5{
    color: tomato;
  }
  .oneEvent > button{
    width: 100%;
    background: rgb(56, 96, 148);
    color: white;
  }
  /* ------------------createEvent------------------ */

  .createEvent{
      padding-top: 90px;
      margin-left: 40px;
      margin-right: auto;
      width: 70rem;
  }
