/* body {
    display: flex;
    justify-content: center;
    background-color: white;
} */



.active > a {
    text-align: center;
}


.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 35px; */
    padding: 20px;
    
}

.left-container {
    display: flex;
    height: 400px;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-right: 50px;
    justify-content: center;
    margin: 20px;

}

.left-container p {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.main-container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.user-post-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 100px;
    padding: 10px;
    border: solid 1px grey;
    /* background-color: #f8f8f8; */
}

.user-post-container input{
    text-align: center;
    font-size: large;
    
}

.other-type-of-posts-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

/* -------- */

.middle-container {
    background-color: #f8f8f8;
    margin: 20px;
}

.other-users-post-container {
    padding-top: 50px;
}

.profile-pic-and-name-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f8f8f8;
}



.profile-pic-and-name-container img{
    max-height: 100px;
    max-width: 100px;
    border: solid 1px black;
    border-radius: 50%;
}

.profile-pic-and-name-container div {
    padding: 10px;
    /* height: 300px;
    width: 300px; */
}

.other-users-post-text .full-name {
    font-weight: 900;
    font-size: 20px;
    height: 20px;
    width: 400px;
}

.other-users-post-text .event-description {

    height: 200px;
    width: 400px;
}
/* -------------------ChatBox--------------------- */
.messages{
    display: inline-flex;
    height: 30rem;
    width: 100%;
    bottom: 0;
    z-index: 3;
    position: fixed;
    float: left;
    padding-left: 20rem;
}
.chatBox{
    border: black solid 1px;
    height: 30rem;
    width: 30rem;
    background-color: rgb(233, 224, 224);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 2rem;
}
.chatBoxClose{
    margin-bottom: -1px;
    height: 0;
    bottom: -8px;
    left: -8px;
    position: fixed;

}
.chatBoxClose > form{
    margin-bottom: -1px;
    height: 0;
    bottom: -8px;
    left: -8px;
    position: fixed;

}
.showAllUsers{
    border: black solid 1px;
    height: 28rem;
    width: 28rem;
    background-color: rgb(233, 224, 224);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 2rem;
    z-index: 3;
    position: fixed;
}
.showAllUsers > ul{
    z-index: 3;
    /* border: black solid 1px; */
    padding: 1rem;
    width: 100%;
    margin: 0;
    cursor: pointer;
    position: relative;
    border-bottom: black solid 1px;

}
.showAllUsers > ul:hover{
    background-color: rgb(173, 171, 171);
}
.messages > button{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 4;
    width: 28rem;
    position: fixed;
}
.chatBox > form {
    position: absolute;
    bottom: 0px;
    width: 30rem;
}
#message-input{
   width: 80%;
   margin-left: 5px;
   z-index: 4;

}
/* ------------------NavBar-------------------- */
#navBar {
    top: 0;
    z-index: 1;
    position: fixed;
    align-items: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #7a7d81;
}
#navBar > h1 {
    margin: 0.5rem;
}

#login-form {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}
#login-form >form >input {
  margin-right: 1rem;

}
#login-form >h4 {
    margin: 0;
    padding-right: 2rem;
}
#register-container{
    padding-top: 60px;
}
#navBar > div{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 1rem;
}
#navBar > div >h3{
    margin-top: 0;
}
#navBar > div >a{
    text-align: center;
    margin: 0 1rem 1rem 1rem;
    font-size: 25px;
    color: black;
}